<div class="navbar">
  <div class="input-group add-on gridSearch">
    <input type="text" 
           style="height:30px;" 
           class="form-control gridSearch" 
           ng-change="searchDraanks(true)" 
           placeholder="search" 
           ng-model="searchText" />     
    <span class="input-group-addon squareBottomCorners">
      <a data-toggle="tooltip" 
         data-placement="left" 
         title="Clear Search"> 
        <i ng-click="searchDraanks('clear');" class='glyphicon glyphicon-remove-circle'></i>
      </a>
    </span>
  </div>
</div>

<div style="margin-top: -38px;">
   <div class="cocktailGrid" 
      ui-grid-edit 
      ui-grid-selection 
      ui-grid-grouping 
      ui-grid-resize-columns 
      ui-grid-auto-resize 
      style="height: {{gridHeight}}; background-color:white;" 
      ui-grid="gridOptions" 
      ui-grid-exporter>
   </div>
</div>

<div>
  <modal-dialog show='modalShown' width='400px' txtButtonDone='{{prompts.btnCancel}}'>
    <h4 class="alert alert-info">{{ selectedRecipeName }} (Serves {{portions}})</h4>
      <ul>
        <li class="item" ng-repeat="ingredient in recipe">
          <strong>{{ ingredient }}</strong>
        </li>
      </ul>
  </modal-dialog>
</div>
